<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>
</head>
<body>

<script>
    
var config = {
    type: Phaser.AUTO,
    parent: 'phaser-example',
    width: 800,
    height: 800,
    physics: {
        default: 'arcade',
        arcade: {
            gravity: { y: 0 },
            debug: false
        }
    },
    scene: {
        preload: preload,
        create: create,
        update: update,
        extend: {
            player: null,
            reticle: null,
            moveKeys: null,
            playerBullets: null,
            enemyBullets: null,
            lastFired: 0,
            time: 0,
        }
    }
};

var game = new Phaser.Game(config);

var gameOver = false;
var lost = false;
var won = false;
var finalHealth = 3;
// var score = 0;

var Bullet = new Phaser.Class({

    Extends: Phaser.GameObjects.Image,

    initialize:

        // Bullet Constructor
        function Bullet(scene) {
            Phaser.GameObjects.Image.call(this, scene, 0, 0, 'bullet');
            this.speed = 1;
            this.born = 0;
            this.direction = 0;
            this.xSpeed = 0;
            this.ySpeed = 0;
            this.setSize(32, 32, true);
        },

    // Fires a bullet from the player to the reticle
    fire: function (shooter, target) {
        this.setPosition(shooter.x, shooter.y); // Initial position
        this.direction = Math.atan((target.x - this.x) / (target.y - this.y));

        // Calculate X and y velocity of bullet to moves it from shooter to target
        if (target.y >= this.y) {
            this.xSpeed = this.speed * Math.sin(this.direction);
            this.ySpeed = this.speed * Math.cos(this.direction);
        }
        else {
            this.xSpeed = -this.speed * Math.sin(this.direction);
            this.ySpeed = -this.speed * Math.cos(this.direction);
        }

        this.rotation = shooter.rotation; // angle bullet with shooters rotation
        this.born = 0; // Time since new bullet spawned
    },

    // Updates the position of the bullet each cycle
    update: function (time, delta) {
        this.x += this.xSpeed * delta;
        this.y += this.ySpeed * delta;
        this.born += delta;
        if (this.born > 1800) {
            this.setActive(false);
            this.setVisible(false);
            this.destroy();
        }
    }

});

function preload() {
    // Load in images and sprites
    this.load.image('target', '/static/images/TRT_Reticle.png');
    this.load.image('player', '/static/images/tank.png');
    this.load.image('background', '/static/images/Level4.png');
    this.load.image('bullet', '/static/images/bullet.png');
    this.load.image('enemyTank', '/static/images/enemyTank.png');
    this.load.image('health', '/static/images/toolbox.png');
    this.load.image('hwall', '/static/images/HWall.png');
    this.load.image('vwall', '/static/images/VWall.png');
    this.load.image('star', '/static/images/star.png');
}

function create() {
    // Create world bounds
    this.physics.world.setBounds(-400, -400, 1600, 1600);
    var background = this.add.image(400, 400, 'background');

    playerBullets = this.physics.add.group({ classType: Bullet, runChildUpdate: true });
    enemyBullets = this.physics.add.group({ classType: Bullet, runChildUpdate: true });
    walls = this.physics.add.staticGroup();
    
    invisWalls = this.physics.add.staticGroup();
    
    borderTL1 = this.physics.add.staticSprite(-350,-330);
    borderTL1.setSize(120, 600);
    
    borderTL2 = this.physics.add.staticSprite(-335,-350);
    borderTL2.setSize(600, 120);

    borderTR1 = this.physics.add.staticSprite(1065,-330);
    borderTR1.setSize(120, 600);
    
    borderTR2 = this.physics.add.staticSprite(565,-350);
    borderTR2.setSize(600, 120);
    
    borderBL1 = this.physics.add.staticSprite(-350,565);
    borderBL1.setSize(120, 600);
    
    borderBL2 = this.physics.add.staticSprite(-335,1065);
    borderBL2.setSize(600, 120);
    
    borderBR1 = this.physics.add.staticSprite(1065,565);
    borderBR1.setSize(120, 600);
    
    borderBR2 = this.physics.add.staticSprite(565,1065);
    borderBR2.setSize(600, 120);
    
    invisWalls.add(borderTL1, true);
    invisWalls.add(borderTL2, true);
    invisWalls.add(borderTR1, true);
    invisWalls.add(borderTR2, true);
    invisWalls.add(borderBL1, true);
    invisWalls.add(borderBL2, true);
    invisWalls.add(borderBR1, true);
    invisWalls.add(borderBR2, true);

    // enemyTanks = this.physics.add.group({
    //     key: 'enemyTank',
    //     repeat: 9, // makes 10 total tanks in group
    //     setXY: { x: 12, y: 300, stepX: 70 }
    //     // need random number, Phaser.Math.Between(min, max);
    // });

    // spawns enemy tanks in hardcoded locations
    enemyTanks = this.physics.add.group();
    enemyTanks.create(1000, 400, 'enemyTank');
    enemyTanks.create(400, 1000, 'enemyTank');
    enemyTanks.create(-200, 400, 'enemyTank');
    enemyTanks.create(400, -200, 'enemyTank');

    // Add background, player, and reticle sprites
    player = this.physics.add.sprite(400, 400, 'player');
    reticle = this.physics.add.sprite(800, 700, 'target');
    hp1 = this.add.image(-325, -350, 'health').setDisplaySize(120,120);
    hp2 = this.add.image(-200, -350, 'health').setDisplaySize(120,120);
    hp3 = this.add.image(-74, -350, 'health').setDisplaySize(120,120);

    // Player bullet hits enemy
    this.physics.add.collider(enemyTanks, playerBullets, (enemyHit, bulletHit) => enemyHitCallback(enemyHit, bulletHit));
    this.physics.add.overlap(enemyTanks, playerBullets, (enemyHit, bulletHit) => enemyHitCallback(enemyHit, bulletHit));

    // Enemy bullet hits player
    this.physics.add.collider(player, enemyBullets, (playerHit, bulletHit) => playerHitCallback(playerHit, bulletHit));
    this.physics.add.overlap(player, enemyBullets, (playerHit, bulletHit) => playerHitCallback(playerHit, bulletHit));

    this.physics.add.collider(player, walls);
    this.physics.add.collider(playerBullets, walls, (bulletHit, wallHit) => wallHitCallback(bulletHit, wallHit));
    this.physics.add.collider(enemyTanks, walls);
    this.physics.add.collider(enemyBullets, walls, (bulletHit, wallHit) => wallHitCallback(bulletHit, wallHit));

    this.physics.add.collider(player, invisWalls);
    this.physics.add.collider(playerBullets, invisWalls, (bulletHit, wallHit) => wallHitCallback(bulletHit, wallHit));
    this.physics.add.collider(enemyTanks, invisWalls);
    this.physics.add.collider(enemyBullets, invisWalls, (bulletHit, wallHit) => wallHitCallback(bulletHit, wallHit));

    background.setDisplaySize(1600, 1600);
    player.setOrigin(0.5, 0.5).setDisplaySize(60, 60).setCollideWorldBounds(true).setDrag(500, 500);
    reticle.setOrigin(0.5, 0.5).setDisplaySize(50, 50).setCollideWorldBounds(true);

    player.health = 3;
    enemyTanks.children.iterate(function (child) {
        child.setDisplaySize(120, 120);
        child.health = 1;
        child.lastFired = 0;
    });

    // Set camera zoom
    this.cameras.main.zoom = 0.5;

    // Creates object for input with WASD kets
    cursors = this.input.keyboard.addKeys({
        'up': Phaser.Input.Keyboard.KeyCodes.W,
        'down': Phaser.Input.Keyboard.KeyCodes.S,
        'left': Phaser.Input.Keyboard.KeyCodes.A,
        'right': Phaser.Input.Keyboard.KeyCodes.D
    });

    // Player shoots
    this.input.on('pointerdown', function (pointer, time, lastFired) {
        if (player.active === false)
            return;

        // Get bullet from bullets group
        var bullet = playerBullets.get().setActive(true).setVisible(true);

        bullet.setDisplaySize(50, 50);

        if (bullet) {
            bullet.fire(player, reticle);
        }
    }, this);


    // Locks pointer on mousedown
    game.canvas.addEventListener('mousedown', function () {
        game.input.mouse.requestPointerLock();
    });

    // Exit pointer lock when Q or escape (by default) is pressed.
    this.input.keyboard.on('keydown_Q', function (event) {
        if (game.input.mouse.locked)
            game.input.mouse.releasePointerLock();
    }, 0, this);


    // Move reticle upon locked pointer move
    this.input.on('pointermove', function (pointer) {
        if (this.input.mouse.locked) {
            // Move reticle with mouse
            reticle.x += pointer.movementX;
            reticle.y += pointer.movementY;

            // Only works when camera follows player
            var distX = reticle.x - player.x;
            var distY = reticle.y - player.y;

            // Ensures reticle cannot be moved offscreen
            if (distX > 800)
                reticle.x = player.x + 800;
            else if (distX < -800)
                reticle.x = player.x - 800;

            if (distY > 600)
                reticle.y = player.y + 600;
            else if (distY < -600)
                reticle.y = player.y - 600;
        }
    }, this);

    this.scoreText = this.add.text(750, -375, 'score: 0', { fontSize: '78px', fill: '#000' });
}


function update(time, delta) {
    if (gameOver) {

        // Send player score to database
        game.input.mouse.releasePointerLock();
        if (lost && !won) {
            won = true;
            redBox = this.add.image(400, 400, 'background');
            redBox.setDisplaySize(1600, 1600).setTintFill(0xff0000);
            gameOverText = this.add.text(75, 350, 'GAME OVER', { fontSize: '124px', fill: '#000' });
			finalHealth = 0;
        }

        if (won && !lost) {
            lost = true;
            if (player.health === 3) {
                star1 = this.add.image(60, 150, 'star');
                star2 = this.add.image(400, 150, 'star');
                star3 = this.add.image(740, 150, 'star');
            }
            else if (player.health === 2) {
                star1 = this.add.image(200, 150, 'star');
                star2 = this.add.image(600, 150, 'star');
            }
            else {
                star1 = this.add.image(400, 150, 'star');
            }
            gameOverText = this.add.text(125, 350, 'YOU WON', { fontSize: '124px', fill: '#000' });
        }

        // stop reticle from moving after game ends
        reticle.setVelocityX(0);
        reticle.setVelocityY(0);

        this.homeButton = this.add.text(-200,600, 'Go to Home Screen', { fontSize: '124px', fill: '#000' })
            .setInteractive({ useHandCursor: true })
            .on('pointerdown', () => goHome());

        return;
    }

    // Rotates player to face towards reticle
    player.rotation = Phaser.Math.Angle.Between(player.x, player.y, reticle.x, reticle.y);

    // Rotates enemy to face towards player
    enemyTanks.children.iterate(function (child) {
        child.rotation = Phaser.Math.Angle.Between(child.x, child.y, player.x, player.y);
    });

    // Camera position is average between reticle and player positions
    avgX = ((player.x + reticle.x) / 2) - 400;
    avgY = ((player.y + reticle.y) / 2) - 300;

    // Make reticle move with player
    reticle.body.velocity.x = player.body.velocity.x;
    reticle.body.velocity.y = player.body.velocity.y;

    // Constrain position of reticle
    constrainReticle(reticle, 300);

    if (cursors.left.isDown) {
        // Player move left
        player.setVelocityX(-180);
    } else if (cursors.right.isDown) {
        // Player move right
        player.setVelocityX(180);
    } else {
        // Stop player when not pressing key
        player.setVelocityX(0);
    }

    if (cursors.up.isDown) {
        // Player move up
        player.setVelocityY(-180);
    } else if (cursors.down.isDown) {
        // Player move down
        player.setVelocityY(180);
    } else {
        // Stop player when not pressing key
        player.setVelocityY(0);
    }

    enemyShoot(time, this.physics);

    // this.scoreText.setText(`Score: ${score}`);
}

function goHome() {
    location.href ='/updateDB/4/'+finalHealth+'/{{username}}';
}

function enemyShoot(time, physics) {
    enemyTanks.children.iterate(function (child) {
        if (child.active === false) {
            return;
        }

        if ((time - child.lastFired) > 1500) {
            child.lastFired = time;

            // Get bullet from bullets group
            var bullet = enemyBullets.get().setActive(true).setVisible(true);

            bullet.setDisplaySize(50, 50);

            if (bullet) {
                bullet.fire(child, player);

                // Add collider between bullet and player
            }
        }
    })
}

function enemyHitCallback (enemyHit, bulletHit) {
    // Reduce health of enemy
    if (bulletHit.active === true && enemyHit.active === true) {
        enemyHit.health = enemyHit.health - 1;
        console.log('Enemy hp: ', enemyHit.health);

        // Kill enemy if health <= 0
        if (enemyHit.health <= 0) {
            enemyHit.setActive(false).setVisible(false);
        }

        // score += 10;

        // Destroy bullet
        bulletHit.setActive(false).setVisible(false);
        // bulletHit.setVelocityX(-50);
        // bulletHit.setVelocityY(-50);
        enemyHit.destroy();
        // bulletHit.velocity = 0;
        if (enemyTanks.countActive(true) === 0) {
            gameOver = true;
            won = true;
            finalHealth = player.health;
            
        }
    }
    // console.log('Score: ', score);
}

function playerHitCallback (playerHit, bulletHit) {
    // Reduce health of player
    if (bulletHit.active === true && playerHit.active === true) {
        playerHit.health = playerHit.health - 1;
        console.log('Player hp: ', playerHit.health);

        // Kill hp sprites and kill player if health <= 0
        if (playerHit.health === 2) {
            this.hp3.destroy();
        }
        else if (playerHit.health === 1) {
            this.hp2.destroy();
        }
        else {
            this.hp1.destroy();
            gameOver = true;
            lost = true;
            // Game over state should execute here
        }

        // Destroy bullet
        bulletHit.setActive(false).setVisible(false);
        bulletHit.destroy();
    }
}

// Destroys bullet when it collides with a wall
function wallHitCallback(bulletHit, wallHit) {
    bulletHit.destroy();
}


function constrainVelocity (sprite, maxVelocity) {
    if (!sprite || !sprite.body) {
        return;
    }

    let angle, currVelocitySqr, vx, vy;
    vx = sprite.body.velocity.x;
    vy = sprite.body.velocity.y;
    currVelocitySqr = vx * vx + vy * vy;

    if (currVelocitySqr > maxVelocity * maxVelocity) {
        angle = Math.atan2(vy, vx);
        vx = Math.cos(angle) * maxVelocity;
        vy = Math.sin(angle) * maxVelocity;
        sprite.body.velocity.x = vx;
        sprite.body.velocity.y = vy;
    }
}

// Ensures reticle does not move offscreen and dist(radius) from player
function constrainReticle(reticle, radius) {
    var distX = reticle.x - player.x; // X distance between player & reticle
    var distY = reticle.y - player.y; // Y distance between player & reticle

    // Ensures reticle cannot be moved offscreen
    if (distX > 800)
    reticle.x = player.x + 800;
    else if (distX < -800)
        reticle.x = player.x - 800;

    if (distY > 600)
        reticle.y = player.y + 600;
    else if (distY < -600)
        reticle.y = player.y - 600;

        // Ensures reticle cannot be moved further than dist(radius) from player
    var distBetween = Phaser.Math.Distance.Between(player.x, player.y, reticle.x, reticle.y);
    if (distBetween > radius) {
        // Place reticle on perimeter of circle on line intersecting player & reticle
        var scale = distBetween / radius;

        reticle.x = player.x + (reticle.x - player.x) / scale;
        reticle.y = player.y + (reticle.y - player.y) / scale;
    }
}</script>
</body>
</html>